body {
    background-color: #f5f5f5;
    font-family: "Segoe UI", Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.country-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 984px;
    margin: 0 auto;
    width: 100%;
}

.country-box {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 150px;
}

.country-box__country-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.country-box__country-flag {
    border: 1px solid;
    width: 150px;
}

.country-box__iso {
    font-size: 12px;
    margin-bottom: 4px;
}

.country-box__iso-value {
    font-weight: bold;
}
